.page {
    display: flex;
    background: #2A2C2F;
    color: #FFFFFF;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}



/* Эти блоки надо попереносить в разные папки по БЭМ*/


.header {
    margin: 28px 48px 0px 48px;
    min-width: calc(100vw - 96px);
    display: flex;
    justify-content: space-between;
    
}

.header__logo {
    width: 176px;
    height: 52px;
}
.header__nav{
    display: flex;
}
.header__lang-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    text-decoration-line: underline;
    color: #FFFFFF;
}

.header__lang-link_en{
 margin: 0 0 0 18px;
}

.header__lang-link_ru{

}


.lead {
    margin: 56px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 984px;
}

.lead__title {
    max-width: 720px;
    min-width: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0;
    /* or 104% */
    text-align: center;
    color: #FFFFFF;

}

.lead__subtitle {
    margin: 64px 0 32px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* or 120% */
    text-align: center;
    width: 640px;
    color: #FFFFFF;

}

.lead__image {
    width: 984px;
}

.lead__caption {
    margin: 8px 0 0 0;
    align-self: normal;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    width: 984px;
    /* identical to box height, or 140% */
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro {
    min-width: 228px ;
    margin: 114px 442px 0 148px;

}

.intro__title {
    margin: 0 0 40px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    /* identical to box height, or 107% */
    color: #FFFFFF;
}

.intro__text {
    margin: 0 0 33px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    color: #FFFFFF;
}

.intro__list {
    padding: 0;
    list-style-type: none;
    margin: 0 0 92px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */


    color: #FFFFFF;

}

.photo-grid {
    margin: 0 48px 92px 48px;
    display: grid;
    gap: 1em;
    justify-content: center;
    align-content: center;
    width: calc(100vw - 48px * 2);
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: 229px 229px 229px; 
}

.photo-grid__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px
}

.plase {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(484px, 1fr));
    /*grid-template-columns: 460px 484px; */
    
    gap: 40px;
    row-gap: 48px;
}


.plase__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */


    color: #FFFFFF
}

.plase__image {}

.plase__website {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.plase__url-heading {
    position: absolute;
    /* добавили */
    bottom: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */

    letter-spacing: 2px;

    color: #AAAAAA;
}

.plase__link {
    position: absolute;
    /* добавили */
    bottom: -12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;
}

.plase__text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */


    color: #FFFFFF;

}

.plase__paragraph {
    margin: 0;
}

.cover {
    margin: 92px calc((100vw - 1184px)/2) 0 calc((100vw - 1184px)/2);
    width: 1184px;
    background-image: url(/images/__background.png);
    opacity: 0.3;
}

.cover__title {
    margin: 0;
    opacity: 1;
    padding: 245px 0 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */

    text-align: center;

    color: #FFFFFF;

}

.cover__subtitle {
    opacity: 1;
    margin: 0;
    padding: 32px 0 245px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */
    text-align: center;
    color: #FFFFFF;
}

.footer {
    display: flex;
    width: 100vw;
    margin: 92px 48px 24px 48px; 
    justify-content: space-between;
}

.footer__part {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 415px;
}

.footer__link {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    color: #FFFFFF;
}

.footer__copyright {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    text-align: right;

    color: #FFFFFF;
}