.lead {
    margin: 56px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*min-width: 984px;*/
}

@media screen and (max-width: 1024px) {
    .lead{
        margin: 48px 0 0px 0;
        width: 100%;
    }
}

