.plase__link {
    
    /* добавили */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;
    width: fit-content;
}

.plase__link:hover{
    opacity: 0.8;
}

@media screen and (max-width: 320px) {
    .plase__link{
        margin: 0 16px 0 16px;
    }
}