.plase__url-heading {
    margin: 0 0 12px 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;

    color: #AAAAAA;
}

@media screen and (max-width: 744px) {
    .plase__url-heading {
        margin: 0 16px 0 16px;
    }
}