.plase__url-heading {
    margin: 0 0 12px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */

    letter-spacing: 2px;

    color: #AAAAAA;
}

@media screen and (max-width: 320px) {
    .plase__url-heading{
        margin: 0 16px 0 16px;
    }
}