.cover {
    margin: 92px calc((100vw - 1184px)/2) 0 calc((100vw - 1184px)/2);
    width: 100%;
    background-image: url(/images/__background.png);
    background-color: #2A2C2F;
    background-size: cover;
}

:hover.cover{
    background-color: #2A2C2F30 ;
    opacity: 0.3;
}

@media screen and (max-width: 768px) {
    .cover{
        margin: 66px calc((100vw - 1184px)/2) 0 calc((100vw - 1184px)/2);
    }
}

