.cover {
    margin: 92px calc((100vw - 1184px)/2) 0 calc((100vw - 1184px)/2);
    width: 1184px;
    align-items: center;
    align-content: center;
    background-image: url(/images/__background.png);
    background-color: #2A2C2F;
    background-size: cover;
}

:hover.cover{
    background-color: #2A2C2F30 ;
    opacity: 0.3;
}

@media screen and (max-width: 1024px) {
    .cover{
        width: 1024px;
    }
}