.plase__website {
    position: relative;
    display: flex;
    flex-direction: column;
    /*gap: 4px;*/
    align-self: flex-end;
}


@media screen and (max-width: 320px) {
    .plase__website{
        gap: 12px; 
    }
}