.plase__website {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}


@media screen and (max-width: 720px) {
    .plase__website{
        gap: 12px; 
    }
}