.cover__title {
    margin: 0;
    opacity: 1;
    padding: 245px 0 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    max-width: 560px;
    text-align: center;
    margin: 0 312px 0 312px;
    color: #FFFFFF;

}

@media screen and (max-width: 1024px) {
    .cover__title {
        padding: 195px 0 0 0;
        margin: 0 232px 0 232px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        padding: 33px 0 0 0;
        margin: 0 16px 0 16px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        /* or 109% */

        text-align: center;

        color: #FFFFFF;
    }
}