.footer {
    display: flex;
    max-width: 1232px;
    width: calc(100vw - 96px);
    margin: 92px 48px 24px 48px;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer{
        width: calc(100vw - 48px);
        margin: 88px 24px 24px 24px;
    }
}

@media screen and (max-width: 700px) {
    .footer{
        flex-direction: column;
        margin: 64px 16px 0 0;
    }
}