.plase__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}


@media screen and (max-width: 768px) {
    .plase__title{ 
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 720px) {
    .plase__title{
        margin: 0 16px 0 16px;
        font-size: 32px;
        line-height: 35px;
    }
}